@textColor: #333;
@titleNavColor: #545454;
@hoverLinkColor: #444;
@backgroundColor: #f8f8f8;

/**
 * HTML Eelement Styles
 */
body {
  background-color: @backgroundColor;
  color: @textColor;
  margin: 0 20px;
  padding: 0;
  text-align: center;

  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 1.5em;

}

a {
  color: @textColor;
  text-decoration: none;
  font-weight: 400;

  &:hover {
    color: @hoverLinkColor;
    text-decoration: none;
  }
}

/**
 * Global page styles
 */
.page {
  margin: 0 auto;
  text-align: left;

  max-width: 1200px;
  min-width: 600px;

  .content {
    padding-top: 25px;
  }
}

.font-bold {
  font-weight: bold;
}

/**
 * Navigation-Bar Styles
 */
.title-nav {
  color: @titleNavColor;
  height: 80px;

  font-family: "Georgia", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8em;
  margin-top: 5px;

  a {
    color: @titleNavColor;
  }

  .logo {
    display: block;
    float: left;
    width: 100px;
  }

  /** Top-bar navigation links */
  .navigation {
    display: inline-block;
    margin-left: 30px;
    padding-top: 45px;
  }

  .secondary-nav {
    float: right;
    margin-right: 120px;
    margin-top: 45px;
  }

  a.primary-nav-link {
    color: @titleNavColor;
    border-bottom: 2px solid #545454;
    margin-left: 7px;
  }

} // .title-nav


/**
 * Code-Content Styles
 */
 .code-vs-container {
   display: block;
   margin-top: 55px;
   width: 100%;

   .title {
     display: block;
     text-align: center;
     h2 {
       border-bottom: 3px solid #ccc;
       display: inline-block;
       margin: 0 auto;
     }

   }

   .code-left {
     display: inline-block;
     border-right: 1px solid #545454;
     width: 49%;
   }

   .code-right {
     display: inline-block;
     width: 49%;
   }
 }

 /**
  * About Page
  */
.about-page {
  text-align: center;

  .blurb {
    display: block;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0 auto;
    text-align: left;
    width: 60%;
  }
}


 /**
  * Footer Styles
  */
.footer {
  margin-top: 10px;
  
  a {
    color: #888;
    &:hover {
      color: #888;
      border-bottom: 1px solid #767676;
    }
  }
}